<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
    <a class="navmenu-brand visible-md visible-lg" href="/admin">Панель администратора СУП</a>
    <ul class="nav navmenu-nav">
      {%if active == 1 %}
      <li class="dropdown active">
      {% else %}
      <li class="dropdown">
      {% endif %}
        <a href="/admin/staff/inspectors" class="dropdown-toggle" data-toggle="dropdown">Инспекторы<b class="caret"></b></a>
        <ul class="dropdown-menu navmenu-nav">
          <li><a href="/admin/staff/inspectors">Просмотр инспекторов</a></li>
          <li><a href="/admin/staff/add_inspector">Регистрация инспектора</a></li>
        </ul>
      </li>
      {%if active == 2 %}
      <li class="active">
        {% else %}
      
      <li>{% endif %}<a href="/admin/categories">Категории услуг</a></li>
      <li><a href="/inspector">Панель инспектора</a></li>
    </ul>
    <ul class="nav navmenu-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-user'></span>  {{username}}<b class="caret"></b></a>
        <ul class="dropdown-menu navmenu-nav">
          <li><a href="#">Настройки аккаунта</a></li>
          <li><a href="/account/logout">Выход</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/admin">Администратор СУП</a>
  </div>