<script>
  const labels = [
    {%for p in periods %}
  '{{ p }}',
    {% endfor %}
    ];
  
    const labels_avg = [
    {%for p in avg_periods %}
  '{{ p }}',
    {% endfor %}
    ];

  const data = {
    labels: labels,
    datasets: [
      {
        label: 'Показания',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(158,0,29)',
        pointStyle: 'circle',
        pointRadius: 5,
        pointHoverRadius: 10,
        data: [
          {%for pkz in pokaz %}
            {{ pkz }},
          {% endfor %}
        ],
      }]
    };
    const data_avg = {
    labels: labels_avg,
    datasets: [
     {
    label: 'Среднемесячные показания',
    backgroundColor: 'rgb(0,158,50)',
    data: [{%for pkz in avg_pokaz %}
            {{ pkz }},
  {% endfor %}
  ],
      }],
    };

  const config = {

    type: 'line',
    data: data,
    options: {}
  };
  const config_avg = {

type: 'bar',
data: data_avg,
options: {}
};
</script>