
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page_name }} - СУП</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <link href="/static/css/navmenu.css" rel="stylesheet">
  </head>

  <body>
    {% with username=username,active=1 %}
    {% include "jasny/user/nav.html" %}
    {% endwith %}

    <div class="container">
        <h2>Ваши квартиры</h2>
        {% if not flat_data %}
        <h4>Вы не являетесь владельцем ни одной квартиры</h4>
        {%else%}
        {% for f in flat_data %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{{ f['full_address'] }}</h3>
            </div>
            <div class="panel-body">
                {% if not f['meters'] %}
                <p>Нет зарегистрированных приборов учета</p>
                {%else%}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="bg-info">
                            <tr>
                                <th>Счетчик</th>
                                <th>Текущие показания</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for m in f['meters'] %}
                            <tr>
                                {% if m.approved %}
                                <td><a href="/app/meter/{{ m.id }}">{{ m.name }}</a></td>
                                {%else%}
                                <td><a href="/app/meter/{{ m.id }}">{{ m.name }}</a> <span class="label label-danger">Не поверен</span></td>
                                {%endif%}
                                <td>{{ m_pkz[m.id] }}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                {%endif%}
                <a class="btn btn-success" href="/app/pokaz/{{ f['id'] }}">Передать показания</a>
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>

  </body>
</html>
