<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_name }} - СУП</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="/static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>

<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h2 class="text-primary">Система учета показаний счетчиков</h2>
            </div>
            {{ form.csrf_token }}
            <div class="form-group">{{ form.login(class_='form-control') }}</div>
            <div class="form-group">{{ form.password(class_='form-control') }}</div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:#009e49;">Войти в систему</button></div>
            {% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-warning" role="alert"><span><strong>{{ message }}</strong><br></span></div>
					{% endfor %}
				{% endif %}
			{% endwith %}
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>