<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page_name }} - СУП</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <link href="/static/css/navmenu.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>

<body>
    {% with username=username,active=2 %}
    {% include "jasny/inspector/nav.html" %}
    {% endwith %}
    <div>
        <div class="container">
            <div class="row">
            <div class="col-md-6">
            <h3>Страница создания квартиры</h3>
            <p><em>После создания квартиры необходимо осуществить привязку счетчиков!</em></p>
            <form method="post">
                {{ form.csrf_token }}<label>МКД:&nbsp;</label>{{ form.house(class_='form-control') }}
                <label>Номер квартиры:&nbsp;</label>{{ form.number(class_='form-control') }}
                <label>Количество прописанных: </label>{{ form.registered_in(class_='form-control') }}
                <button class="btn btn-default" type="submit" style="margin-top:25px;">Создать квартиру</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert" style="margin-top: 20px;"><span><strong>{{ message
                            }}</strong><br></span></div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
            </div></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

</body>

</html>