<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page_name }} - СУП</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <link href="/static/css/navmenu.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/icon.ico" type="image/x-icon">
</head>

<body>
    {% with username=username,active=3 %}
    {% include "jasny/inspector/nav.html" %}
    {% endwith %}
    <div>
        <div class="container">
            <div class="row">
            <div class="col-md-6">
            <h3>Регистрация прибора учета по адресу <b>{{ flat_address }}</b></h3>
            {% if no_flat %}
            <h3>Ошибка: не передан параметр ID квартиры!</h3>
            {% else %}
            <form method="post">
                {{ form.csrf_token }}
                <label>Наименование ПУ:&nbsp;</label>{{ form.name(class_='form-control') }}
                <label>Категория:&nbsp;</label>{{ form.category(class_='form-control') }}
                <label>Заводской номер:&nbsp;</label>{{ form.serial_num(class_='form-control') }}
                <label>Дата установки:&nbsp;</label>{{ form.setup_date(class_='form-control') }}
                <label>Место установки:&nbsp;</label>{{ form.setup_on(class_='form-control') }}
                <p>Данные о поверке прибора учета. Оставьте эти поля пустыми, если прибор учета не поверен.</p>
                <label>Дата поверки:&nbsp;</label>{{ form.approve_date(class_='form-control') }}
                <label>Дата следующей поверки:&nbsp;</label>{{ form.next_approve_date(class_='form-control') }}
                <label>Документ-основание поверки:</label>{{ form.approve_doc(class_='form-control') }}
                {{ form.flat_id }}
                <button class="btn btn-default" type="submit" style="margin-top:25px;">Зарегистрировать прибор учета</button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert" style="margin-top: 20px;"><span><strong>{{ message
                            }}</strong><br></span></div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </form>
            </div></div>
            {% endif %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

</body>

</html>